h1 {
    margin-top: 10px;
    display: inline;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-family: 'Galindo', cursive;
}

div.personViewText p {
    font-size: 21px;
}

div.tableViewText p {
    line-height: 10px;
}

#tableViewTrait {
    font-size: 20px;
    line-height: 20px;
}

#tableViewName {
    font-size: 25px;
    line-height: 25px;
}

.panel-title {
    display: inline;
}

.panel-body {
    padding: 5px;
}

.top-tier {
    height: 130px;
    overflow-y: scroll;
}

.bot-tier {
    height: 240px;
    overflow-y: scroll;
}

#edit-placeholder {
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    margin: auto;
}

.jumbotron {
    height: 100px;
    background: skyblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, deepskyblue, lightskyblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, deepskyblue, lightskyblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, deepskyblue, lightskyblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, deepskyblue, lightskyblue); /* Standard syntax */
    padding-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: black;
}

.btn-primary {
    height: 25px;
    width: 25px;
    line-height: 0px;
    padding-top: 2px;
    padding-left: 3.4px;
    margin-top: 3.5px;
    margin-right: 8px;
    font-family: 'Fredericka the Great', cursive;
}

#bottomPlus {
    padding-left: 3px;
}

.fa-plus-square, .fa-trash {
    font-size: 20px;
}

.logo {
    height: 60px;
    width: 60px;
    margin-top: -35px;
    margin-left: 5px;
}

.basicListItem {
    font-size: 15px;
    font-family: 'Galindo', cursive;
}

.saver {
    width: 58px;
    margin: auto;
    font-size: 15px;
}

.projItem {
    font-size: 20px;
    font-family: 'Galindo', cursive;
}

#emptyText {
    font-size: 30px;
    font-family: 'Galindo', cursive;
}

.deleter {
    margin-top: -30px;
}

#projDeleter {
    margin-top: -2px;
}

#seatfreak {
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
}

#seatbetter {
    font-size: 25px;
    font-family: 'Fontdiner Swanky', cursive;
}

#app {
    background-size: cover;
    background-image: url("https://thumbs.dreamstime.com/z/abstract-swirls-seamless-pattern-background-vector-hand-drawn-curl-elements-blue-31418529.jpg");
}

.panel-title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    color: black;
}

.panel-heading {
    padding: 0px;
    padding-top: 7px;
    padding-left: 10px;
}

.panel-default {
    border-color: black;
}

#headback {
    background: skyblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, deepskyblue, lightskyblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, deepskyblue, lightskyblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, deepskyblue, lightskyblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, deepskyblue, lightskyblue); /* Standard syntax */
    border-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
}

select {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    width: 50%;
    height: 25px;
    color: #9fa1aa;
    border-color: #ccc;
    text-align-last: center;
    text-indent: 15px;
}

.selectedProj {
    background-color: deepskyblue;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: black;
}

.form-group {
    margin-bottom: 5px;
}

.form-control {
    width: 50%;
    margin: auto;
    height: 25px;
    margin-bottom: 5px;
}

h4 {
    line-height: 5px;
}

/*scrollbar styling*/

.scroller::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scroller::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroller::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}